<!DOCTYPE html>
<html>
<head>
  <title>Cards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'shared/nav' %>
    <% if current_user and @project %>
      <h1><%= @project.title %></h1>
    <% elsif current_user %>
      <h1><%= "Hello #{current_user.name}" %></h1>
    <% else %>
      <h1>Cards</h1>
    <% end %>
  </header>
  <% if notice %><div id="notice"></div><% end %>
  <% if alert %><div id="alert"></div><% end %>
<%= yield %>

</body>
</html>
